.category .spice {
  text-align: start;
  padding: 5px;
  margin: 2px 0;
  /* border-radius: 5px; */
  border-top: 1px solid #1234463a;
}
.category .spice h4 {
  text-align: center;
  font-size: 1.1rem;
}

.category .spice p {
  padding: 2px 0;
}

.category h3 {
  color: #ff5500;
}
.btns {
  border-top: 1px solid #1234463a;
  padding: 5px 0 0 0;
}
.btns button {
  background-color: #123446;
  border: none;
  color: #fff;
  margin: 0 5px;
  padding: 5px;
  border-radius: 2px;
  width: 35%;
  cursor: pointer;
}
