.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  bottom: 0;
  padding: 10px 0;
}

.footer .image {
  width: 120px;
  cursor: pointer;
  height: auto;
}

.footer .image img {
  width: 100%;
}

.footer .top-row {
  display: flex;
  justify-content: space-evenly;
  text-align: start;
  align-items: center;
}
.footer .top-row .contact span {
  color: green;
}

.footer .bottom{
   padding-top: 10px;
}
.footer .bottom p{
   padding: 5px  0;
}
.right a {
  text-decoration: none;
  color: #fff;
}
